.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #999;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: #999;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #ff0000;
}
